 .u-section-1 {
  background-image: url("images/19476801.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 990px;
}

.u-section-1 .u-text-1 {
  margin: 52px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 22px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 404px;
}

.u-section-1 .u-container-layout-1 {
  padding: 22px 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 311px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 714px;
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
  padding: 30px 50px;
}

.u-section-1 .u-form-1 {
  height: 347px;
  margin: 36px 0 0;
}

.u-section-1 .u-input-1 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-1 .u-input-2 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-1 .u-input-3 {
  font-size: 1.125rem;
  text-transform: none;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  font-size: 1.125rem;
  border-style: none;
  text-transform: uppercase;
  background-image: none;
}

.u-section-1 .u-group-1 {
  width: 330px;
  background-image: none;
  min-height: 234px;
  margin: -27px 21px 0 auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 20px 0;
}

.u-section-1 .u-text-2 {
  text-transform: none;
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 28px 0 22px;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  margin: -6px 0 0 22px;
}

.u-section-1 .u-icon-1 {
  font-size: 2.375em;
  color: rgb(255, 255, 255) !important;
}

.u-section-1 .u-text-4 {
  text-transform: none;
  font-size: 2.25rem;
  font-weight: 700;
  margin: 6px 22px 0 26px;
}

.u-section-1 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 84px;
  min-width: 52px;
  margin: 10px auto 0 36px;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 690px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 388px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 315px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 703px;
  }

  .u-section-1 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    min-height: 258px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 21px;
    margin-left: 44px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 552px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 297px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 242px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-icon-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1329px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -105px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 85px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 68px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 891px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-1 {
    min-height: 247px;
    margin-top: 84px;
    margin-right: 22px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 22px;
    margin-right: 26px;
    margin-left: 22px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 10px;
    margin-left: 36px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1035px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -92px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 59px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 76px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 848px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 42px;
    min-height: 223px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-4 {
    padding-bottom: 16px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-3 {
    margin-left: 17px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.5rem;
    margin-top: 17px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 22px;
  }
}