 .u-section-1 {
  background-image: url("images/1947680.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 816px;
}

.u-section-1 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 159px 0 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  line-height: 1.6;
  font-style: normal;
  font-weight: 700;
  margin: 25px 0 0 602px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 1px 60px 0 auto;
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-size: 0.875rem;
  margin: 0 0 60px 673px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 673px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 402px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 473px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 515px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 182px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 253px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 990px;
  }

  .u-section-1 .u-icon-1 {
    width: 32px;
    height: 32px;
    margin-top: 446px;
    margin-right: 14px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 14px;
    margin-left: 83px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 14px;
    margin-right: 150px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -258px;
    margin-bottom: 235px;
    margin-left: 113px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 828px;
  }

  .u-section-1 .u-icon-1 {
    width: 23px;
    height: 23px;
    margin-top: 229px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    margin-top: 0;
    margin-left: 142px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 39px;
    margin-left: 0;
  }
}